
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>捷途软件--智能办公</title> 
    <link href="/css/base.css" rel="stylesheet"/>
    <link href="/css/login.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="/jquery/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/jquery/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="/easyUI/jquery.easyui.min.js"></script>
     <script type="text/javascript" src="/easyUI/easyui-lang-zh_CN.js"></script>
     <link rel="stylesheet" href="/easyUI/easyui.css"/>
	 <script type="text/javascript">
		     $(function(){

                 if(window.location != top.window.location){
                     top.window.location = window.location;
                 }
                $("#vimg").click(function(){
                    $("#vimg").prop("src","/createCode?data="+Math.random());
				})

				  $("#login_id").click(function(){
				      var name=$("#userId").val();
                      var pass=$("#passWord").val();
                      var vcode=$("#vcode").val();
                       if(!/^[a-zA-Z0-9_]{5,16}/.test(name)){
                             $.messager.alert("提示信息","你输入的账号格式错误！请核实",'warning')
					   }else if(!/^[a-zA-Z0-9_]{5,16}/.test(pass)){
                           $.messager.alert("提示信息","你输入的密码格式错误！请核实",'warning')
					   }else if(!/^[a-zA-Z0-9]{4}/.test(vcode)){
                           $.messager.alert("提示信息","你输入的验证码格式错误！请核实",'warning')
					   }else{
                           $.ajax({
                               type:"post",
                               url:"/login",
                               dataType:"json",
                               data:{userId:name,passWord:pass,vcode:vcode},
                               success:function(data){
                                   if(!data){
                                       window.location="/main"
                                   }else{
                                       $.messager.alert('提示信息',data,'warning');
                                       $("#vimg").trigger("click");
                                   }
                               },error:function () {
                                   $.messager.alert('提示信息','网络异常','warning');
                               }
						   })
					   }
				  })


		 })
	 </script>
</head> 
<body>
	<div class="login-hd">
		<div class="left-bg"></div>
		<div class="right-bg"></div>
		<div class="hd-inner">
			<span class="logo"></span>
			<span class="split"></span>
			<span class="sys-name">智能办公平台</span>
		</div>
	</div>
	<div class="login-bd">
		<div class="bd-inner">
			<div class="inner-wrap">
				<div class="lg-zone">
					<div class="lg-box">
						<div class="panel-heading" style="background-color: #11a9e2;">
							<h3 class="panel-title" style="color: #FFFFFF;font-style: italic;">用户登陆
							<span style="color: red;"><#if loginMsg??> ${(loginMsg)!}</#if></span> </h3>
						</div>
						<form id="loginForm">
						   <div class="form-horizontal" style="padding-top: 20px;padding-bottom: 30px; padding-left: 20px;">
								
								<div class="form-group" style="padding: 5px;">
									<div class="col-md-11">
										<input class="form-control" id="userId" name="userId" type="text" placeholder="账号/邮箱">
									</div>
								</div>
				
								<div class="form-group" style="padding: 5px;">
									<div class="col-md-11">
										<input  class="form-control"  id="passWord" name="passWord" type="password" placeholder="请输入密码">
									</div>
								</div>
				
								<div class="form-group" style="padding: 5px;">
									<div class="col-md-11">
										<div class="input-group">
										<input class="form-control " id="vcode" name="vcode" type="text" placeholder="验证码">
										<span class="input-group-addon" id="basic-addon2"><img class="check-code" id="vimg" alt="" src="/createCode"></span>
										</div>
									</div>
								</div>
				
						</div>
							<div class="tips clearfix">
											<label><input type="checkbox" checked="checked">记住用户名</label>
											<a href="javascript:;" class="register">忘记密码？</a>
										</div>
							<div class="enter">
								<a href="javascript:;" id="login_id" class="purchaser" >登录</a>
								<a href="javascript:;" class="supplier" onClick="javascript:location.reload()">重 置</a>
							</div>
						</form>
					</div>
				</div>
				<div class="lg-poster"></div>
			</div>
	</div>
	</div>
	<div class="login-ft">
		<div class="ft-inner">
			<div class="about-us">
				<a href="javascript:;">关于我们</a>
				<a href="javascript:;">法律声明</a>
				<a href="javascript:;">服务条款</a>
				<a href="javascript:;">联系方式</a>
			</div>
			<div class="address">
			地址：广州市天河区
			&nbsp;邮编：510000&nbsp;&nbsp;
			分享知识，传递希望&nbsp;版权所有</div>
			<div class="other-info">
			建议使用火狐、谷歌浏览器，不建议使用IE浏览器！</div>
		</div>
	</div>
</body> 
</html>